html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    
  }
body{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    background: #000000;
    margin: 0 auto;
    
}

body::-webkit-scrollbar {
    display: none;
  }

/* Header styles start */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
}

.wrapper{
    
    max-width: 1274px;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    
    margin: 0 auto; 

}    
.header__logo{
    padding-top: 24px;
}
.header__logo--pic{
    width: 100px;
    height: 40.56px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;       
}
.header__item{
    line-height: 16px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);      
}
.header__link--shows{
    margin-right: 43px;
}
.header__link--movies{
    margin-right: 115px; 
}
.header__link--cartoons{
    margin-right: 59px;
}
.header__link--free{
    margin-right: 59px;
}
.header__link--schedule{
    margin-right: 285px;
}
.header__link--btn{
    font-weight: 700;
    font-size: 15px;
    background: #0059C1;
    border-radius: 12px;
    width: 121px;
    height: 40px;
    padding: 11px 32px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.header__link--shows:hover, .header__link--shows:focus, .header__link--shows:active{
    color: rgba(255, 255, 255, 1);
}
.header__link--movies:hover, .header__link--movies:focus, .header__link--movies:active{
    color: rgba(255, 255, 255, 1);
}
.header__link--cartoons:hover, .header__link--cartoons:focus, .header__link--cartoons:active{
    color: rgba(255, 255, 255, 1);
}
.header__link--free:hover, .header__link--free:focus, .header__link--free:active{
    color: rgba(255, 255, 255, 1);
}
.header__link--schedule:hover, .header__link--schedule:focus, .header__link--schedule:active{
    color: rgba(255, 255, 255, 1);
}
/* Header styles end */

/* Main styles start */


/*Slider styles start */
.slider{
    background-size: cover;
    padding-top: 90px;    
}
.slider__image{
    background-image: url(../img/Slider_bg.png);
    height: 595px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    
}

.slider__content{   
    width: 658px;
    height: 233px;
    display: flex;
    flex-direction: column;
}
.slider__title{
    max-width: 658px;
    height: 142.78px;
    background: no-repeat;
    background-position: center;
    background-size: contain;
}
.slider__title img{
    

}

.slider__line{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 500px;
    position: relative;
    padding-top: 28px;
    margin: 0 auto;
}
.slider__line-active{
    border-bottom: 1px solid rgba(227, 177, 0, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 104%;
    animation: progressbar 12s linear infinite;
}
.slider__button{    
    font-weight: 400;
    font-size: 15px;
    width: 198px;
    height: 40px;
    text-transform: uppercase;    
    background-repeat: no-repeat;
    margin-top: 21px;
}
.slider__button--img{
    padding-left: 16px;
    padding-right: 20px;
    float: left;  
}
.slider__button:hover, .slider__button:focus, .slider__button:active{
    color: rgba(255, 255, 255, .75);    
}
.slider__button--img:hover, .slider__button--img:focus, .slider__button--img:active{
    opacity: 0.75;
}
.main__title{
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    margin-top: 32px;
}

/*Slider styles end */

/*Cards style start */

.film{
    width: 210px;
    height: 300px; 
    background-size: cover;
    display: inline-block;
    box-sizing:border-box;

}

/*Hover Effect style start*/
.hover{
    opacity: 0;
    width: 210px;
    border-radius: 12px;
    height: 300px;
    
}
.film__flex{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 170px;
    padding-top: 20px;   
}
.film__info--toggle{
    margin-left: 20.34px;    
}
.film__info--rating{
    margin-left: 6.34px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #E3B100;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}
.film__info--year{
    margin-left: 105px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.50);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
.film__season{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 56px;
    margin-left: 20px;
}
.film__name{
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    margin-top: 40px;
    margin-left: 20px;
}
.film__description{
    width: 170px;
    height: 52px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin-top: 6px;
    margin-left: 20px;
}
.film__button{
    width: 170px;
    height: 38px;
    background: #0059C1;
    border-radius: 12px;
    margin-top: 60px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 78.68px;
    
}
.film__button:hover, .film__button:focus, .film__button:active{
    background: #E3B100;
}
.film__button--watch{
    font-weight: 700;
    font-size: 13px;
}

.hover:hover{
    opacity: 1;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    transition: .2s;    
}
/*Hover Effect style end*/

/*Cards style start */
.subscriptions{
    background-size: cover;
    padding-top: 62px;
}
.sub_title{
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    /* margin-left: -8px; */
}
.sub_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 32px;
}
.membership1{
    width: 502px;
    height: 296px;
    background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%);
    border-radius: 12px;
    opacity: .25;       
}
.membership2{
    width: 502px;
    height: 296px;
    background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%);
    border-radius: 12px;
    margin-left: -117px;
    margin-right: -117px;
    opacity: .25;        
}
.membership3{
    width: 502px;
    height: 296px;
    background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.25) 100%);
    border-radius: 12px;
    opacity: .25;      
}
.membership__title{
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    padding-top: 32px;
    text-align: center;
}
.membership__ul{
    font-weight: 500;
    font-size: 16px;
    margin-left: 55px;
    margin-top: 35px;
    list-style-position:inside;
}
.membership__li{
    margin-bottom: 16px;
    list-style-type: disc;
}
.membership__price{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 35px;
}
.membership__buy{
    width: 147px;
    height: 40px;
    background: #E38B00;
    border-radius: 12px; 
    margin-left: 166px;    
}
.membership__buy--text{
    position: absolute;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    padding: 9px 16px;
}
.membership__try{
    width: 147px;
    height: 40px;
    border: 1px solid #E38B00;
    border-radius: 12px;
    margin-left: 10px;
}
.membership__try--text{
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 9px 43px;
}
.membership1:hover{    
    background: linear-gradient(90deg, rgba(0, 89, 193, 1) 0%, rgba(13, 0, 123, 1) 100%);
    border: 1px solid rgba(0, 89, 193, 0.5);   
    opacity: 1;    
}
.membership2:hover{
    background: linear-gradient(90deg, rgba(0, 89, 193, 1) 0%, rgba(13, 0, 123, 1) 100%);
    border: 1px solid rgba(0, 89, 193, 0.5);    
    opacity: 1;   
}
.membership3:hover{
    background: linear-gradient(90deg, rgba(0, 89, 193, 1) 0%, rgba(13, 0, 123, 1) 100%);
    border: 1px solid rgba(0, 89, 193, 0.5);    
    opacity: 1;    
}
/*Cards style end */

/* ------------Sign-IN--------------------- */
.sign-up{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-top: 115px;        
}

.sign-up__title{
    margin: 0px 0px 0px 0px;
}
.sign-up__subtitle{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 12px;
}
.sign-up__card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 32px;
    gap: 35px;
}
.card__item{
    width: 502px;
    height: 250px;
    background: linear-gradient(90deg, rgba(0, 89, 193, 0.5) 0%, rgba(13, 0, 123, 0.5) 100%);
    border-radius: 12px;
    padding: 32px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.card__item--period{
    width: 438px;
    height: 36px;    
    display: flex;
    justify-content: space-between;    
}
.period__item--year{  
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
}
.period__item--price{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.card__item--description{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: px;   
}
.card__item--choose{
   display: flex;
   justify-content: end;    
}
.choose__button--active{
    width: 93px;
    height: 40px;    
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    background: #E38B00;
    border-radius: 12px;
    text-align: center;    
}

.description__image{
    position: relative;
    top: -25px;
}
.period__image{
    position: relative;
    top: -45px;
}
.sign-up__account{
    text-align: center;
    margin-top: 20px;
}
.account__info{
    width: 733px;
    margin-top: 24px;
}
.info__name{
    width: 350px;
    height: 33px;
    border-bottom: white 1px solid;
    text-align: left;
}
.info__flex{
    display: flex;
    justify-content: space-between;
    
}
.info__last-name{
    width: 350px;
    height: 33px;
    border-bottom: white 1px solid;
    text-align: left;
}
.info{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.5);
   
}
.marketing-email{
    margin-top: 18px;
    text-align: left;
    display: flex;
    justify-content: center;
}
.info__email{
    border-bottom: white 1px solid;
    text-align: left;
    width: 733px;
    height: 33px;
    margin-top: 24px;
}
.marketing__email{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.5); 
    margin-left: 15px;
}
.marketing__chekbox{
    width: 30px;
    height: 30px;
    background-color: #000000;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
}
.info__button{
    margin-top: 33px;
    width: 733px;
    height: 40px;
    background: #0059C1;
    border-radius: 12px;
}
.info__privacy{
    margin-top: 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: left;

}
.info__privacy--active{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #E38B00;
}
.info__last-name:focus, .info__last-name:active,
.info__name:focus, .info__name:active,
.info__email:focus, .info__email:active,
.info__password:focus, .info__password:active{
    border-bottom:#E38B00 1px solid;
}
.card__item-active{
    position: relative;
    top: -41px;
    left: 443px;
    width: 38px;
    height: 38px;
}

/* ----------------TVShows-------------------- */
.films{
    margin-top: 110px; 
}
.films__wrappers{
    width: 100%;
    display: flex;
    max-width: 1317px;
    align-items: center;
    overflow-x: hidden;
    position: relative;

}
.films__wrapper{
    width: 100%;
    max-width: 1274px;
    margin-top: 25px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: scroll;
    gap: 16px;
    overflow-y: hidden;
    position: relative;
}

.films__wrapper > div{
    border-radius: 12px;
}

.films__wrapper::-webkit-scrollbar {
    width: 0;
}
.movies {
    margin-top: 35px;
}
.cartoons{
    margin-top: 30px;
}
.nav{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.nav2{
    margin-top: 2px;
    display: flex;
    justify-content: center;
    gap: 16px;

}
.nav a{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
}
.nav2 a{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 21px;
    color: #707070;  
}
.nav a:hover, .nav a:focus, .nav a:active,
.nav2 a:hover, .nav2 a:focus, .nav2 a:active
{
    color: #FFFFFF;
}   
.nav a:last-child{
    font-weight: 700;
    text-decoration-line: underline;

    background: linear-gradient(180deg, #0059C1 0%, #9E00FF 77.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.nav:last-child{
    margin-top: 21px;
}
.nav__footer{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav__footer div{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.support__nav-btn1{
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    width: 142px;
    height: 30px;
    background: #0059C1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 23px;
    gap: 10px;
    
}
.support__nav-btns{
    margin-top: 17px;
    display: flex;
    gap: 10px;   
}

.support__nav-btn2{
    width: 44px;
height: 30px;
left: 475px;
top: 1454px;

background: #0059C1;
border-radius: 6px;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 3px 10px;
gap: 10px;


}
.support__nav-btn2 img,
.support__nav-btn3 img{  
    width: 19.5px;
    margin-left: calc(50% - 19.5px/2);
    margin-top: 12.5%;
    margin-bottom: 12.5%;
}
.enjoy-without-limits{
    font-weight: 700;
font-size: 12px;
line-height: 14px;
}

.support__nav-btn3{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 3px 10px;
gap: 10px;


width: 44px;
height: 30px;
left: 529px;
top: 1454px;

background: #0059C1;
border-radius: 6px;
}
.enjoy-without-limits{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.enjoy-without-limits div{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}
.enjoy-without-limits div:last-child{
    margin-top: 13px;
}
.footer__hbo, .footer__hbo--image{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #707070;
    margin-bottom: 16px;
}

.sign-up__wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.99);
    overflow-y: scroll;
    background-image: url(../img/signup_bg.png);
}
.sign-up__wrapper.open {
    visibility:visible;
}
.sign-up__wrapper::-webkit-scrollbar 
{
    width: 0; 
}
.sign-up__section{
    margin: 20px;
}

/* ---------------------- */
.wrapper__films{
    margin: 0px;
}

/* Крестик */
.cross{
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
     
}
.cross:before,
.cross:after {
  content: "";
  position: absolute;
  top: 13px;
  right: 3px;
  width: 24px;
  height: 4px;
  background: rgb(255, 255, 255);
}
.cross:before {
    transform: rotate(45deg);
}
.cross:after {
    transform: rotate(-45deg);
}
.header__burger-btn{
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    cursor: pointer;
  }
  .header__burger-btn span{
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    left: 5px;
    transition: background-color .3s, opasity .3s, transform .5s;
    will-change: transform;
  }
  .header__burger-btn:hover span{
    background-color: #ffffff;
  
  }
  .header__burger-btn span:nth-child(1){
    transform: translateY(-10px);
  }
  .header__burger-btn span:nth-child(2){
  }
  .header__burger-btn span:nth-child(3){
    transform: translateY(10px);
  }
  .header.open .header__burger-btn span{
    background-color: #ffffff;
  }
  
  .header.open .header__burger-btn span:nth-child(1){
    transform: translateY(0) rotate(45deg);
  }
  .header.open .header__burger-btn span:nth-child(2){
    opacity: 0;
  }
  .header.open .header__burger-btn span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
  }

.faq{
    margin-top: 10px;
    max-width: 1270px;
    font-size: 18px;
    
}

.faq__question{    
    height: 52px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #21212C;
    font-size: 18px;   
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: 24px;
    position: relative;
    cursor: pointer;
}

.faq__question span{
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #9E00FF;
    right: 24px;
    
}
.faq__answer{
    overflow: hidden;
    border-top: none;
    border-radius: 0px 0px 6px 6px;
    background: #1B1B24;
    font-size: 18px;
    color: #B7B6DE;
    max-height: 0;
    padding: 0px 24px 0 24px;
    transition: all .4s linear;
    
}

.open .faq__answer{
    max-height: 1000px;
    padding: 14px 24px;
    transition: max-height 1.5s linear;
}

.faq.open .faq__question{    
    border-radius: 6px 6px 0px 0px;
    transition: all .5s linear;
}
.faq__question span:nth-child(1){
    transform: translateY(0) rotate(90deg);
    transition: all .5s;
}
.faq.open .faq__question span:nth-child(1){
    transform: translateY(0) rotate(180deg);
    transition: all .5s;
}

@keyframes progressbar {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
/* -------Media----------------- */
@media (max-width: 1300px) {
    .header__wrapper,
    .subscriptions,
    .wrapper__films,
    .faq__section {
        margin-left: 10px;
        margin-right: 10px;
    }
    footer{
        margin-left: 10px;
        margin-right: 10px;
    }
    .header__link--schedule {
        margin-right: 170px;
    }
    .sub_wrapper{
        justify-content: space-around;
        gap: 1rem;

    }
    .membership2{
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 1150px) {
    .header__link--schedule {
        margin-right: 50px;
    }
    .film{
        width: 80%;
        height: 80%;
    }
    .menu__link{
        margin: 0;
    }
    .header__list {
        gap: 5rem;
    }
}
@media (max-width: 1050px) {
    .header__list {
        gap: 4rem;
    }
    .membership1, .membership2, .membership3{
        opacity: 1;
        width: 340px;
        height: 224px;
        flex-shrink: 0;
        border: 1px solid rgba(0, 89, 193, 0.50);
        background: linear-gradient(90deg, rgba(0, 89, 193, 0.25) 0%, rgba(13, 0, 123, 0.25) 100%);
    }
    .membership__title{
        padding: 0;
        margin: 18px 0 0 18px;
        color: #FFF;
        font-size: 16px;
        font-weight: 900;
        text-align: start;
    }
    .membership__ul{
        margin: 8px 0 0 18px;
        font-size: 12px;
    }
    .membership__li{
        margin-bottom: 8px;
    }
    .membership__price{
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .membership__buy{
        width: 304px;
        height: 40px;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .membership__buy--text{
        font-size: 18px;
    }
    .membership__try{
        width: 304px;
        height: 40px;
        margin-top: 7px;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    .films__wrappers--img{
        display: none;
    }

}
@media (max-width: 960px) {
    .header__list {
        gap: 3rem;
    }
    .wrapper__films {
        margin-right: 0;
    }
}

@media (max-width: 860px){
    .header__burger-btn{
      display: block;
    }
    .header__wrapper {
        margin: 0;
    }
    .header__logo{
        margin-left: 32px;
    }
    .header__burger-btn{
        margin-right: 24px;
    }
       
    .menu{
      right: auto;
      top: 0px;
      width: 100%;
      height: 100%;
      background-color: #000000;
      visibility: hidden;
      z-index: 10;
    }
    .menu__list{
      display: block;
    } 
    .menu__item:not(:last-child){
      margin-right: 0;
    }
    
    .menu__link{
        color: rgba(255, 255, 255, 0.75);
        font-size: 24px;
        font-family: Lato;
        font-weight: 900;
        line-height: 29px;
        display: block;
        margin-top: 15px;
        margin-left: 32px;
        font-size: 24px;
        font-weight: 900;
    }
    .header__link--btn{
        color: #FFF;
        font-size: 15px;
        font-family: Lato;
        font-weight: 700;
        width: 304px;
        height: 40px;
        flex-shrink: 0;
        padding: 0;
        text-align: center;
        padding-top: 6px;
    }
    .header__link--shows{
        margin-top: 41px;
    }
    .header.open .menu{
      visibility: visible;
    }
    .sign-up__account, .account__form, .account__info, .info__flex{
        display: flex;
        flex-wrap: wrap;

    }
  }

@media (max-width: 800px){
    .slider__content{
        max-width: 500px;
        
    }

    .main__title{
        font-size: 24px;
        margin-top: 15px;
    }
    .movies{
        margin-top: 0;
    }
    .films__wrapper {
        margin-top: 14px;
    }
    .sub_title{
        font-size: 24px;
    }
    .subscriptions{
        padding: 0;
        margin-top: 14px;
    }
    .hover{
        width: 147px;
        height: 210px;
    }
    .film__flex{
        padding-top: 8px;
    }
    .film__flex img{
        width: 14px;
        height: 13.222px;
        margin-left: 8px;
        display: block;

    }
    .film__info--rating{
        margin-left: 11px;
    }
    .film__info--year{
        margin-left: 61px;
    }
    .film__name{
        font-size: 14px;
        margin: 30px 8px 0 8px;
        line-height: 15px;
    }
    .film__description{
        color: #E8E8E8;
        font-size: 9px;
        line-height: 9px;
        width: 132px;
        margin: 5px 0 0 8px;
    }
    .film__button{
        gap: 51.87px;
        margin: 25px 0 0 9px;
        width: 131px;
        height: 38px;
    }
    .film__button--text{
        width: 11.131px;
        height: 14px;
        
    }

    .film__button--watch{
        color: #FFF;
        font-size: 13px;
        font-weight: 700;
    }
    .main__title{
        margin-top: 0;
    }
    .shows{
        margin-top: 15px;
    }
    .movies, .cartoons{
        margin-top: 5px;
    }
  
}

@media (max-width: 600px){
    .slider__content{
        max-width: 400px;        
    }
    .slider__line{
        width: 400px;
    }
    .footer__hbo--image{
        display: none;
    }
    .nav a, .nav2 a{
        font-size: 10px;
        margin-top: 0;
    }
    .nav2{
        margin-top: 14px;
    }
    .nav__footer{
        margin-top: 14px;
        display: flex;
        flex-direction: column;
    }
    .support{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .enjoy-without-limits{
        margin-top: 26px;
        margin-right: 16px;
    }
    .footer__hbo{
        margin: 22px 0;
    }
    .faq__question{ 
        font-size: 15px;
        height: 40px;
    }
    .faq__answer{
        font-size: 15px;
    }
}
@media (max-width: 600px){
    .slider__content{
        max-width: 300px;        
    }
    .slider__line{
        width: 300px;
    }
}
@media (max-width: 400px){
    .slider__content{
        max-width: 280px;        
    }
    .slider__line{
        width: 280px;
    }
}
@media (max-width: 380px){
    .membership1, .membership2, .membership3{
        max-width: 340px;
    }
}
@media (max-width: 360px){
    .membership1, .membership2, .membership3{
        max-width: 320px;
    }
    .faq__question, .faq__answer {
        font-size: 13px;
    }
    .nav{
        display: flex;
        flex-wrap: wrap;
    }

}
@media (max-width: 340px){
    .membership1, .membership2, .membership3{
        max-width: 310px;
    }
    .membership__buy, .membership__try{
        width: 280px;
    }
    .header__link--btn{
        width: 250px;
    }
}
@media (max-width: 330px){
    .membership1, .membership2, .membership3{
        max-width: 290px;
    }
    .membership__buy, .membership__try{
        width: 260px;
    }
    .faq__question, .faq__answer {
        font-size: 12px;
    }
    .slider__content{
        max-width: 260px;        
    }
    .slider__line{
        width: 260px;
    }

}
@media (max-width: 310px){
    .membership1, .membership2, .membership3{
        max-width: 280px;
    }
    .faq__question, .faq__answer {
        font-size: 11px;
    }
}
@media (max-width: 300px){
    .membership1, .membership2, .membership3{
        max-width: 260px;
    }
    .membership__buy, .membership__try{
        width: 240px;
    }
    .slider__content{
        max-width: 260px;        
    }
    .slider__line{
        width: 260px;
    }
}
@media (max-width: 880px){
    .sign-up__wrapper{
        background-image: none;
    }
    .sign-up__account, .account__form, .account__info, .info__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .info__flex{
        gap: 1rem;
    }
    .info__email, .marketing-email, .info__button, .info__privacy {
        width: 90%;
    }
}
@media (max-width: 800px){
    .sign-up__wrapper{
        width: 80%;
    }
    .sign-up__section, .account__form  {
        width: 80%;
    }
    .account__info{
        width: 400px;
    }
    .info__email
    .info__email, .marketing-email, .info__button, .info__privacy {
        width: 100%;
    }
}
@media (max-width: 700px){
    .sign-up__wrapper{
         width: 90%;
    }
    .sign-up__section {
        width: 400px;
    }
    .account__info{
        max-width: 350px;
    }   
    .info__email{
        width: 350px;
    }
    .sign-up{
        width: 75%;
    }
    
}
@media (max-width: 500px){
    .info{
        width: 100%;
    }
   .sign-up__section {
       width: 300px;
   }
   .account__info{
       max-width: 300px;
   }   
   .info__email, .info__flex, .marketing-email, .info__button, .info__privacy{
       width: 300px;
   }
   .sign-up{
       width: 75%;
   }
   
}
@media (max-width: 450px){
    .info{
        width: 100%;
    }
   .account__info{
       max-width: 250px;
   }   
   .info__email, .info__flex, .marketing-email, .info__button, .info__privacy{
       width: 250px;
   }
   .sign-up{
       width: 75%;
   }
   .sign-up__subtitle{
    font-size: 20px;
   }
   .info{
    font-size: 13px;
   }
   .marketing__email {
    font-size: 12px;
    line-height: normal;
   }
   .info__flex{
    gap: 5px
   }
   .info__email{
    margin-top: 5px;
   }
   .info__button, .info__privacy{
    margin-top: 10px;
   }
}
@media (max-width: 380px){
    .account__info{
        max-width: 200px;
    }   
    .info__email, .info__flex, .marketing-email, .info__button, .info__privacy{
        width: 200px;
    }
}
   

  